h1 {
  text-align: center;
}

.map {
  position: relative;
  background-image: url('../assets/sprites/Mapa.png');
  background-size: cover;
  width: 640px;
  height: 384px;
  overflow: hidden;
}

.game-image {
  width: 50px;
  height: 50px;
  position: absolute;
}